h1 {
}

#directory {
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row;
    justify-content: space-evenly
}

.customer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center
    
} 

.image {
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 60%;
    border-top-left-radius: 60%;
    border-top-right-radius: 40%  
}

.name

.email

.street

.city

.birthday 


